## Importing Libraries

In [2]:
import pandas as pd 
import numpy as np
import os 
import requests
import json
from datetime import datetime

## Importing Data and concatenating data sources

In [3]:
# setting the folder path and create a list of all file paths in the folder using list comprehension.
# `folderpath` is where all the data files are saved.
# `filepaths` is a list of complete paths for each of those files.

folderpath = r"C:\Users\Drew\New_York_CitiBike\02 Data\Original Data"
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [4]:
filepaths

['C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202201-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202201-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202202-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202202-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202203-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202203-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202204-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202204-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202204-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202205-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202205-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202205-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202206-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202206-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202206-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202206-citibike-tripdata_4.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202207-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202207-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202207-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202207-citibike-tripdata_4.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202208-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202208-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202208-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202208-citibike-tripdata_4.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202209-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202209-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202209-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202209-citibike-tripdata_4.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202210-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202210-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202210-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202211-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202211-citibike-tripdata_2.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202211-citibike-tripdata_3.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202212-citibike-tripdata_1.csv',
 'C:\\Users\\Drew\\New_York_CitiBike\\02 Data\\Original Data\\202212-citibike-tripdata_2.csv']

In [54]:
# "for" each file in the list of files (`filepaths`), read just the header of the file to get the column names.
# "print" out the columns for each file to verify what data is inside.

for f in filepaths[:10]: # limiting results to show first 5 files to save on output length
    df = pd.read_csv(f, nrows=0)
    print(f"Columns in {f}: {df.columns.tolist()}")

Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202201-citibike-tripdata_1.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202201-citibike-tripdata_2.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202202-citibike-tripdata_1.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202202-citibike-tripdata_2.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202203-citibike-tripdata_1.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202203-citibike-tripdata_2.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202204-citibike-tripdata_1.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202204-citibike-tripdata_2.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202204-citibike-tripdata_3.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
Columns in C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\202205-citibike-tripdata_1.csv: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']

In [8]:
# # combine all CSV files in the list (`filepaths`) into a single DataFrame.
# # read each file, specifying columns 5 and 7 as strings to avoid errors, and disable low memory mode for better performance.

df = pd.concat((pd.read_csv(f, dtype={'column_name_5': 'str', 'column_name_7': 'str'}, low_memory=False) for f in filepaths), ignore_index=True)

In [9]:
df.shape

(29838806, 13)

In [10]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member

In [11]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
29838801,1F223EDAFF420AE3,electric_bike,2022-12-01 20:26:45.847,2022-12-01 20:30:46.012,Avenue D & E 3 St,5436.09,Stanton St & Chrystie St,5523.02,40.720701,-73.977939,40.722293,-73.991475,member
29838802,CFA5C560ACB73B8E,classic_bike,2022-12-26 13:46:34.237,2022-12-26 13:52:43.900,43 Ave & 47 St,6209.05,39 Ave & 45 St,6401.03,40.744806,-73.917290,40.749478,-73.918265,member
29838803,11C8C5E0DB947B07,classic_bike,2022-12-01 05:56:14.903,2022-12-01 06:06:10.357,Avenue D & E 3 St,5436.09,Bleecker St & Crosby St,5679.08,40.720828,-73.977932,40.726156,-73.995102,member
29838804,5B9B083C534A5964,classic_bike,2022-12-02 11:54:15.871,2022-12-02 12:01:00.747,Montague St & Clinton St,4677.06,Sands St & Jay St,4821.03,40.694271,-73.992327,40.700119,-73.986200,member
29838805,91C286C462F89A50,classic_bike,2022-12-18 13:35:22.574,2022-12-18 13:37:27.193,Montague St & Clinton St,4677.06,Cadman Plaza E & Tillary St,4677.01,40.694271,-73.992327,40.695977,-73.990149,member

In [53]:
# Exporting concatenated citibike data as csv

df.to_csv(r'C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\NY_CitiBike_2022_Concatenated.csv')

In [19]:
# Exporting concatenated citibike data as pickle file due to the row number size in df.shape results

df.to_pickle(r'C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\NY_CitiBike_2022_Concatenated.pkl')

## Obtaining weather data using NOAA's API

In [12]:
# Defining NOAA token

Token='LeXNebNaIINSzbMNyIHMegwCSlbSqxIG'

In [13]:
# Send a GET request to the NOAA API to retrieve temperature data (TAVG) for New York LaGuardia weather station (stationid: GHCND:USW00014732) in 2022.
# Use the provided API token for authentication in the request header.

r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00014732&startdate=2022-01-01&enddate=2022-12-31', headers={'token':Token})

In [14]:
# Convert the API response from JSON format into a Python dictionary, making the data easier to work with.

d = json.loads(r.text)

In [55]:
# limiting result output of converted API from JSON file formatted to python dictionary for viewability

print(d['results'][:10])

[{'date': '2022-01-01T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 116}, {'date': '2022-01-02T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 114}, {'date': '2022-01-03T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 14}, {'date': '2022-01-04T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': -27}, {'date': '2022-01-05T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 32}, {'date': '2022-01-06T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 49}, {'date': '2022-01-07T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 7}, {'date': '2022-01-08T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': -25}, {'date': '2022-01-09T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 14}, {'date': '2022-01-10T00:00:00', 'datatype': 'TAVG', 'station': 'GHCND:USW00014732', 'attributes': 'H,,S,', 'value': 16}]

In [17]:
# Creating a DataFrame to hold NOAA weather data for export.
# 'results' is the key in the JSON dictionary containing the actual data, which is why it is used here.

df_noaa = pd.DataFrame(d['results'])

In [18]:
# Exporting NOAA weather data as csv

df_noaa.to_csv(r'C:\Users\Drew\New_York_CitiBike\02 Data\Original Data\NOAA_LaGuardia_Weather_Data_2022.csv')

## Merging NOAA data to citibike data

In [21]:
# Creating a list of average temperature records.
# This list comprehension filters the JSON data to include only records where 'datatype' is 'TAVG' (representing average temperature).

avg_temps=[item for item in d['results'] if item['datatype']=='TAVG']

In [22]:
# Create a list of dates from the filtered average temperature records.
# Extract the 'date' field from each item in the avg_temps list.

dates_temp = [item['date'] for item in avg_temps]

In [23]:
# Create a list of temperature values from the filtered average temperature records.
# Extract the 'value' field from each item in the avg_temps list.

temps = [item['value'] for item in avg_temps]

In [65]:
# limiting result output of temps to view first 10 for viewability

print(temps[:10])

[116, 114, 14, -27, 32, 49, 7, -25, 14, 16]

In [25]:
# Create dataframe from average temperature

df_temp = pd.DataFrame()

In [26]:
# Convert the list of date strings from dates_temp to datetime objects and assign them to the 'date' column in the df_temp DataFrame.
# The format "%Y-%m-%dT%H:%M:%S" is used to match the structure of the date strings.
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]

# Create a new column 'avgTemp' in df_temp by converting each temperature value to float and dividing by 10.
# This conversion adjusts the temperatures from tenths of degrees to degrees Celsius.
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

In [28]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [27]:
df_temp.tail()

          date  avgTemp
360 2022-12-27     -0.7
361 2022-12-28      3.4
362 2022-12-29      6.4
363 2022-12-30      9.3
364 2022-12-31      8.2

In [29]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [31]:
# Convert the 'started_at' column from string to datetime format, using the specified date format.
# The 'dayfirst=True' argument ensures that the day is interpreted before the month.

df['started_at'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d %H:%M:%S', dayfirst=True)

In [33]:
# Convert the 'started_at' column to datetime format and extract only the date part, storing it in the 'date' column.
# The format specifies how the 'started_at' column is structured, and '.dt.date' extracts just the date (year, month, day).

df['date'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d').dt.date

In [34]:
# Convert the 'date' column to datetime format

df['date'] = pd.to_datetime(df['date'])

In [35]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [38]:
# Use the %time magic command to measure the time taken to merge the 'df' DataFrame with the 'df_temp' DataFrame.
# Perform a left join on the 'date' column, adding an indicator column to track which rows matched between the two DataFrames.

%time df_merged = df.merge(df_temp, how='left', on='date', indicator=True)

CPU times: total: 11.5 s
Wall time: 21.9 s

In [39]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,2022-01-21,-6.0,both
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,2022-01-10,1.6,both
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,2022-01-26,-2.3,both
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,2022-01-03,1.4,both
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,2022-01-22,-5.9,both

In [40]:
df_merged['_merge'].value_counts(dropna = False)

both          29838166
left_only          640
right_only           0
Name: _merge, dtype: int64

In [41]:
df.shape

(29838806, 14)

In [42]:
# Filter rows that are only in the left DataFrame
left_only_df = df_merged[df_merged['_merge'] == 'left_only']

# Display the unmatched rows
left_only_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
4967,9D2DEF9B6D4FE1F2,electric_bike,2021-12-31 23:56:04.967,2022-01-01 00:10:03.697,3 St & Prospect Park West,3865.05,Atlantic Ave & Furman St,4614.04,40.668132,-73.973638,40.691652,-73.999979,member,2021-12-31,NaN,left_only
8335,07F3FEAE54546CCC,classic_bike,2021-12-31 23:25:37.862,2022-01-01 00:40:26.455,Hudson St & W 13 St,6115.06,W 15 St & 6 Ave,5989.02,40.740057,-74.005274,40.738046,-73.996430,casual,2021-12-31,NaN,left_only
9102,F7054D918A815DED,electric_bike,2021-12-31 23:38:49.704,2022-01-01 00:29:24.363,E 85 St & 3 Ave,7212.05,E 81 St & 2 Ave,7121.05,40.778012,-73.954071,40.774779,-73.954275,member,2021-12-31,NaN,left_only
9178,302DA77D1C2677A4,electric_bike,2021-12-31 23:41:16.311,2022-01-01 00:03:43.417,Perry St & Greenwich Ave,5955.12,E 48 St & 3 Ave,6541.03,40.735918,-74.000939,40.754601,-73.971879,casual,2021-12-31,NaN,left_only
18361,7A6CD4B02003DA01,classic_bike,2021-12-31 23:45:39.596,2022-01-01 00:09:44.400,W 84 St & Columbus Ave,7382.04,Lexington Ave & E 120 St,7652.04,40.785000,-73.972834,40.801307,-73.939817,casual,2021-12-31,NaN,left_only

In [43]:
left_only_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
21775695,763D82F8CFA1D9D1,classic_bike,2021-03-31 15:35:20.070,2022-09-25 14:33:21.607,Willoughby St & Fleet St,4628.05,DeKalb Ave & Franklin Ave,4528.01,40.691966,-73.981302,40.690648,-73.957462,casual,2021-03-31,NaN,left_only
26999657,799622522BCC91B3,classic_bike,2021-09-05 17:52:23.693,2022-11-16 06:18:23.556,Anderson Ave & W 164 St,8096.03,Pier 40 Dock Station,SYS035,40.832057,-73.927421,40.728660,-74.011980,casual,2021-09-05,NaN,left_only
27158219,55DE96B9AF7BFDF6,classic_bike,2021-07-19 14:41:06.067,2022-11-12 13:25:43.737,Fulton St & Pearl St,5024.09,E 102 St & 1 Ave,7407.13,40.707722,-74.004386,40.786995,-73.941648,casual,2021-07-19,NaN,left_only
28515550,87D33069747BE58B,classic_bike,2021-10-27 03:55:34.375,2022-12-13 04:25:16.144,Greene Ave & Throop Ave,4510.04,Ashland Pl & Dekalb Ave,4513.09,40.689493,-73.942061,40.690065,-73.978776,casual,2021-10-27,NaN,left_only
29395359,90E27C47E17E0F9B,classic_bike,2021-07-16 17:50:59.271,2022-12-14 13:05:18.107,Bergen St & Vanderbilt Ave,4157.10,Morgan Loading Docks,SYS038,40.679439,-73.968044,40.709306,-73.931175,casual,2021-07-16,NaN,left_only

In [44]:
# Filter rows to include only those with dates in 2022, effectively removing rows from 2021

df = df[df['date'].dt.year == 2022]

In [46]:
# Merge again after filtering

df_merged = df.merge(df_temp, how='left', on='date', indicator=True)

In [47]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,2022-01-21,-6.0,both
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,2022-01-10,1.6,both
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,2022-01-26,-2.3,both
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,2022-01-03,1.4,both
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,2022-01-22,-5.9,both

In [48]:
df_merged['_merge'].value_counts(dropna = False)

both          29838166
left_only            0
right_only           0
Name: _merge, dtype: int64

In [49]:
df.shape

(29838166, 14)

In [51]:
# Exporting merged citibike rental data and NOAA weather data to pickle file due to size of data
df_merged.to_pickle(r'C:\Users\Drew\New_York_CitiBike\02 Data\Prepared Data\CitiBike_NOAA_2022_Merged.pkl')

In [52]:
# Exporting merged citibike rental data and NOAA weather data to csv
df_merged.to_csv(r'C:\Users\Drew\New_York_CitiBike\02 Data\Prepared Data\CitiBike_NOAA_2022_Merged.csv')